# ===== Maven / Java =====
target/
*.class
*.war
*.jar
*.ear
*.nar
hs_err_pid*

# ===== Node =====
node_modules/
package.json
package-lock.json

# ===== IDE =====
.idea/
*.iml
*.ipr
*.iws
.vscode/
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
nb-configuration.xml

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Logs & temp =====
*.log
npm-debug.log*
*.txt
